/* General Styles */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    font-family: 'Orbitron', sans-serif;
    cursor: url('assets/light-saber-cursor2.png'), auto;
}

/* Loading Screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    z-index: 10;
    flex-direction: column;
}

#light-pulse {
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%);
    border-radius: 50%;
    animation: pulseEffect 7s forwards;
}

#awakening-text {
    position: absolute;
    bottom: 50%;
    font-size: 12px;
    color: white;
    animation: textPulse 7s forwards;
}

@keyframes pulseEffect {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    14% {
        transform: scale(2);
        opacity: 0.8;
    }
    28% {
        transform: scale(3);
        opacity: 0.6;
    }
    42% {
        transform: scale(4);
        opacity: 0.4;
    }
    56% {
        transform: scale(5);
        opacity: 0.3;
    }
    70% {
        transform: scale(6);
        opacity: 0.2;
    }
    84% {
        transform: scale(7);
        opacity: 0.1;
    }
    100% {
        transform: scale(50);
        opacity: 1;
    }
}

@keyframes textPulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    14% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    28% {
        transform: scale(1.2);
        opacity: 0.6;
    }
    42% {
        transform: scale(1.3);
        opacity: 0.4;
    }
    56% {
        transform: scale(1.4);
        opacity: 0.3;
    }
    70% {
        transform: scale(1.5);
        opacity: 0.2;
    }
    84% {
        transform: scale(1.6);
        opacity: 0.1;
    }
    100% {
        transform: scale(2);
        opacity: 1;
    }
}

/* Begin Button */
.begin-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    z-index: 20;
}

.begin-button {
    background: transparent;
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: 'Orbitron', sans-serif;
}

.begin-button:hover {
    color: gray;
}

/* Video Container */
.video-container {
    display: none;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Page Sections */
.page-section {
    display: none; /* Hide the sections initially */
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #444;
    color: white;
}

/* Three.js canvas */
canvas#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* New Canvas for interactive cursor, differentiate by class or ID */
canvas#interactive-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Above the bg canvas but below interactive elements */
}


/* Ripple Effect Styles */
.ripple {
    width: 10px;  /* 50% of the original 20px */
    height: 10px; /* 50% of the original 20px */
    background-color: rgba(199, 233, 253, 0.8); /* Light blue color */
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    animation: ripple-effect 0.6s ease-out forwards;
    z-index: 9999; /* Ensure it's on top of everything except the cursor */
}

@keyframes ripple-effect {
    to {
        width: 100px;  /* 50% of the original 200px */
        height: 100px; /* 50% of the original 200px */
        opacity: 0;
    }
}

/* Add this to the existing CSS */

/* Begin Button */
.begin-button > span:not(.sr-only) {
    position: relative;
    color: transparent;
}

.begin-button > span:not(.sr-only)::after {
    content: attr(data-char);
    position: absolute;
    display: inline-block;
    inset: 0;
    color: black;
    animation: flash calc(var(--speed, 2.5) * 1s) calc(var(--index, 0) * 0.1s) steps(1, end);
}

@keyframes flash {
    0%, 20%   { content: '_'; }
    40%  { content: var(--char-1); }
    60%  { content: var(--char-2); }
    80%  { content: var(--char-3); }
}

.begin-button.animate > span:not(.sr-only)::after {
    animation: flash 2.5s steps(1, end);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* You can adjust the height as needed */
    background-color: rgba(0, 0, 0, 0.8); /* Optional: makes header slightly transparent */
    z-index: 1000; /* Ensures the header stays on top of other content */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

#gsap-logo {
    height: 100%; /* Make sure the logo container matches the header height */
}

body {
    padding-top: 70px; /* Add top padding to body to ensure content is not hidden behind the fixed header */
}

.page-section {
    padding: 20px;
    margin-top: 20px; /* Add top margin to each section to ensure they start below the header */
}

#lines {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 2;
}

.line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: rgba(128, 128, 128, 0.1); /* Grey with 20% transparency */
    transform: matrix(1, 0, 0, 1, 0, 0); /* Identity transform matrix */
}

.left-line {
    left: 90px; /* Adjust as per your layout needs */
}

.middle-line {
    left: 50%; /* Centers the line */
    transform: translateX(-50%); /* Ensures the line is centered on its width */
}

.right-line {
    right: 90px; /* Adjust as per your layout needs */
}




.mouse-icon {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 14px;
    height: 22px;
    margin-left: -7px; /* Centers the icon horizontally */
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 0.1s;
    cursor: pointer; /* Makes it clear it's interactive */
    z-index: 3;
}

.mouse-icon .gsap {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.mouse-icon .border {
    width: 14px;
    height: 22px;
    border: 2px solid #6ef9d8; /* Updated to blue border */
    border-radius: 10px;
    box-sizing: border-box; /* Ensures padding doesn't affect the dimensions */
}

.mouse-icon .point {
    width: 4px;
    height: 4px;
    background-color: #6ef9d8; /* Updated to blue */
    border-radius: 50%;
    position: absolute;
    left: 50%; /* Center horizontally within the mouse icon */
    transform: translateX(-50%) translateY(2px); /* Start from slightly inside the top */
    animation: point-move 2s infinite;
}

@keyframes point-move {
    0%, 100% {
        transform: translateX(-50%) translateY(2px); /* Starts slightly inside the top of the mouse icon */
        opacity: 0;
    }
    50% {
        transform: translateX(-50%) translateY(12px); /* Moves downward inside the mouse icon */
        opacity: 1;
    }
}


.scroll-line {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 2px;
    height: 40px;
    margin-left: -1px; /* Centers the line vertically */
    background-color: white; /* Line color updated to blue */
    animation: line-grow 2s infinite;
}

@keyframes line-grow {
    0%, 100% {
        transform: translateY(0px); /* Starts at initial position */
        height: 10px; /* Shorter height at the beginning and end */
        opacity: 0.1;
    }
    50% {
        transform: translateY(20px); /* Moves downward */
        height: 40px; /* Longer height in the middle */
        opacity: 1;
    }
}


.label {
    position: absolute;
    bottom: -3px; /* Aligns the bottom of the label with the bottom of the mouse icon */
    left: 100%; /* Position it right at the end of the mouse icon */
    margin-left: 10px; /* Slight space from the mouse icon for clear separation */
    transform: translateY(-50%); /* Move it up by half of its height to align center with the mouse icon */
    font-size: 12px;
    color: #6ef9d8; /* Ensures the text is blue as previously set */
    white-space: nowrap;
}

#slider-nav {
    position: fixed;
    top: 50%;
    right: 90px; /* Align this properly with your right line */
    transform: translateY(-50%);
    z-index: 100;
}

#slider-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#slider-nav li {
    position: relative;
    margin-bottom: 10px; /* Spacing between tabs */
    overflow: hidden; /* Ensures the fill animation is contained within the tab */
}

#slider-nav a {
    display: block;
    width: 2px; /* Further reduced thickness */
    height: 50px;
    background-color: rgba(128, 128, 128, 0.5); /* Default inactive state color */
    position: relative;
}

#slider-nav a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6ef9d8;
    transition: transform 0.6s ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
}

#slider-nav a.active:before {
    transition: transform 0.7s ease-in-out 0.5s; /* Add delay here */
    transform: scaleY(1);
    transform-origin: top; /* Fill from top to bottom */
}

/* Hero Section Style */
#hero {
    text-align: center;
    padding: 100px 20px;
    background-color: none;
}

.animated-text, .main-text {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
}

.animated-text {
    color: #6ef9d8;
}

.main-text {
    color: #fff;
}

.letter {
    display: inline-block;
    transform: translateY(100%);
    opacity: 0;
    animation: slideIn 0.7s forwards;
    animation-delay: calc(0.05s * var(--index)); /* Increase delay for better effect */
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Additional keyframe animation for sliding down */
@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1500;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px; /* Adjust the height of the menu icon */
    width: 30px; /* Adjust the width of the menu icon */
}

.menu-icon .line {
    height: 3px;
    width: 100%;
    background-color: #fff; /* White lines */
}

.menu-container {
    position: fixed;
    top: 0;
    left: -100%; /* Start off-screen */
    height: 100vh;
    width: 250px; /* Width of the sliding menu */
    background-color: #000; /* Background of the menu */
    transition: left 0.3s ease; /* Smooth transition for sliding in and out */
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1400;
}

.menu {
    color: #fff;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    padding-left: 20px; /* Padding for the menu items */
}

.menu li a {
    display: block;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.menu li a:hover {
    background-color: #333;
}
.animated-stats-container {
    position: fixed;
    left: 90px; /* Aligns with your left line */
    bottom: 50px;
    width: 400px;
    z-index: 10;
}

.animated-stat-box {
    width: 100%;
    height: 80px;
    background-color: rgba(255, 0, 0, 0.2); /* Semi-transparent red for testing */
    overflow: hidden;
    position: relative;
}

.stat-content {
    position: absolute;
    bottom: -80px; /* Start off-screen */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    box-sizing: border-box;
    transition: bottom 0.5s ease-out, opacity 0.5s ease-out;
}

.stat-description {
    font-family: 'Orbitron', sans-serif;
    font-size: 10px; /* Smaller font size */
    color: #6ef9d8;
    /*transform: rotate(-90deg); /* Tilt to the left */
    margin-bottom: 5px;
}

.stat-number {
    font-family: 'Orbitron', sans-serif;
    font-size: 22px; /* Larger font size */
    font-weight: bold;
    color: #FFFFFF;
}

/* Initial hidden state */
.stat-content {
    opacity: 0;
    bottom: -80px;
}

/* Active (visible) state */
.stat-content.active {
    opacity: 1;
    bottom: 0;
}
