/* General Styles */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    font-family: 'Orbitron', sans-serif;
    cursor: url('assets/light-saber-cursor2.png'), auto;
}


/* Loading Screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    z-index: 10;
    flex-direction: column;
}

#light-pulse {
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%);
    border-radius: 50%;
    animation: pulseEffect 7s forwards;
}

#awakening-text {
    position: absolute;
    bottom: 50%;
    font-size: 12px;
    color: white;
    animation: textPulse 7s forwards;
}

@keyframes pulseEffect {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    14% {
        transform: scale(2);
        opacity: 0.8;
    }
    28% {
        transform: scale(3);
        opacity: 0.6;
    }
    42% {
        transform: scale(4);
        opacity: 0.4;
    }
    56% {
        transform: scale(5);
        opacity: 0.3;
    }
    70% {
        transform: scale(6);
        opacity: 0.2;
    }
    84% {
        transform: scale(7);
        opacity: 0.1;
    }
    100% {
        transform: scale(50);
        opacity: 1;
    }
}

@keyframes textPulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    14% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    28% {
        transform: scale(1.2);
        opacity: 0.6;
    }
    42% {
        transform: scale(1.3);
        opacity: 0.4;
    }
    56% {
        transform: scale(1.4);
        opacity: 0.3;
    }
    70% {
        transform: scale(1.5);
        opacity: 0.2;
    }
    84% {
        transform: scale(1.6);
        opacity: 0.1;
    }
    100% {
        transform: scale(2);
        opacity: 1;
    }
}

/* Begin Button */
.begin-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    z-index: 20;
}

.begin-button {
    background: transparent;
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: 'Orbitron', sans-serif;
}

.begin-button:hover {
    color: gray;
}

/* Video Container */
.video-container {
    display: none;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Page Sections */
.page-section {
    display: none; /* Hide the sections initially */
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #444;
    color: white;
}

/* Three.js canvas */
canvas#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Ripple Effect Styles */
.ripple {
    width: 10px;  /* 50% of the original 20px */
    height: 10px; /* 50% of the original 20px */
    background-color: rgba(199, 233, 253, 0.8); /* Light blue color */
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    animation: ripple-effect 0.6s ease-out forwards;
}

@keyframes ripple-effect {
    to {
        width: 100px;  /* 50% of the original 200px */
        height: 100px; /* 50% of the original 200px */
        opacity: 0;
    }
}

